.hero
  .description,h1
    color: #ffffff

.dark {
  .content__default code {
  background-color: rgba(58,58,92,0.7);
  color: #fff;
  }
  .sidebar > .sidebar-links > li > .active{
    background-color: rgba(58,58,92,0.7);
    color: #fff;
  }
}